name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Start SUT
        run: |
          java -jar app-ibank-build-for-testers.jar &
          echo "SUT started in background"
          sleep 120

      - name: Build with Gradle
        run: ./gradlew test -Dselenide.headless=true
